<!DOCTYPE html>
<html>
<head>
  <title>TIU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= link_to "Home page", home_index_path(@home)%>


  <%= link_to "link to user page", users_path(@user)%>

  <%#= link_to "link to calendars", user_calendar_path(@user)%>

  <%= link_to "link to challenges", challenges_path(@challenge)%>

  end of nav
  <%#= link_to "link to food log", new_users_path(@user)%>
  </br>
    </br>
  <%#= link_to "link to exercise log", new_users_path(@user)%>



<%= yield %>

</body>
</html>
